<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        {% extends 'base_catalogo.html' %}
                {% block title %}  Catalogo  {% endblock %}
                
</head>
<body>
    {% load static %}
    {% block main %}
    
    {% block subtitulo %}
    Catálogo
    {% endblock %}

    
	{% block conteudo1 %}
    <center>
    <fonteprincipal> Informação </fonteprincipal>
    </center>
    {% endblock %}

    {% block conteudo2 %}
    <center>
    <fonteprincipal> Informação </fonteprincipal>
    </center>
    {% endblock %}

    {% block conteudo3 %}
    <center>
    <fonteprincipal> Informação </fonteprincipal>
    </center>
    {% endblock %}




    {% endblock %}
</body>
</html>