{% extends 'base.html' %} 
{% load static %}
    {% block main %}
    <form method="POST">
        {% csrf_token %}
        <h3>Username: {{ detalhes.username }}</h3>
        Nome: <input type="text" value="{{ detalhes.nome }}" name="nome"><br>
        E-mail: <input type="text" value="{{ detalhes.email }}" name="email"><br><br>
        {% for i in grupos %}
            {% if i in perms %}
                <label>{{ i }}<input type="checkbox" name="grupo" value="{{ i }}" checked></label>
            {% else %}
                <label>{{ i }}<input type="checkbox" name="grupo" value="{{ i }}"></label>
            {% endif %}
        {% endfor %}
        {% if detalhes.is_active == True %}
            <p><label>Ativo: <input type="checkbox" name="is_active" checked></label>
        {% else %}
            <p><label>Ativo: <input type="checkbox" name="is_active"></label>
        {% endif %}
        <p><button type="submit" name="button" value="update">Salvar</button><button type="submit" name="button" value="update_continue">Salvar e continuar editando</button>
    </form>
    {% endblock %}