{% extends "base.html" %}

{% block title %}
Pedido #{{ order.pk }}
{% endblock %}

{% block container %}
<h2>Pedido #{{ pedido.pk }}</h2>
<dl class="dl-horizontal">
    <dt>Total R$</dt>
    <dd>{{ object.total|floatformat:"2" }}</dd>
    <dt>Situação</dt>
    <dd>{{ object.get_status_display }}</dd>
    <dt>Data</dt>
    <dd>{{ object.criado|date:"d/m/Y H:i" }}</dd>
    <dt>Meio de Pagamento</dt>
    <dd>{{ object.opcao_pagamento}}</dd>
</dl>
<h3>Itens do Pedido</h3>
{% for item in object.items.all %}
    <dl class="dl-horizontal">
        <dt>Produto</dt>
        <dd>{{ item.produto }}</dd>
        <dt>Quantidade</dt>
        <dd>{{ item.quantidade }}</dd>
        <dt>Preço</dt>
        <dd>R$ {{ item.preco|floatformat:"2" }}</dd>
    </dl>
{% endfor %}
{% endblock %}
